.hidden {
    display:none;
}

html, body {
    height: 100%;
}

body {
    background-color: #E3DEFF;
    font-family: Arial, Helvetica, sans-serif;
    color: #2F2C80;
    margin: 10;
}

.container {
    position: relative;
}

.logo {
    position: absolute;
    left: 0px;
}

#top-menu {
    margin-left:700px;
    margin-top:-50px;
    position: absolute;
    top: 181px; 
    left: -19px;
}

#top-menu ul {
    list-style-type: none;
}

#top-menu ul li {
    display: inline;
    margin-right: 40px;
}

#top-menu ul li a {
    text-decoration: none;
    font-size: 18px;
}

.contact-me {
    position: relative;
    left: 540px;
}

.contact-info {
    position: relative;
    left: 487px;
}
