.hidden {
    display:none;
}

html, body {
    height: 100%;
}

body {
    background-color: #E3DEFF;
    font-family: Arial, Helvetica, sans-serif;
    color: #2F2C80;
    margin: 10;
}

.container {
    position: relative;
}

.logo {
    position: absolute;
    left: 0px;
}

#top-menu {
    margin-left:700px;
    margin-top:-50px;
    position: absolute;
    top: 173px; 
    left: -27px;
}

#top-menu ul {
    list-style-type: none;
}

#top-menu ul li {
    display: inline;
    margin-right: 40px;
}

#top-menu ul li a {
    text-decoration: none;
    font-size: 18px;
}


.man2 {
    display: inline;
}

.woman2 {
    display: inline;
}

.man1 {
    display: inline;
}

.woman1 {
    display: inline;
}

.product-display {
    position: relative;
    left: 487px;
}

.client-review {
    position: relative;
    left: 487px;
}

.contact-info {
    position: relative;
    left: 487px;
}

.contain {
width: 1180px;
  display:grid;
  grid-template-columns: repeat(12,80px);
  column-gap: 20px;
  row-gap: 40px;
}

.grid-content { 
    width: 73%; 
    margin-left: 20px; 
    height: 70%; 
    padding: 2px; 
    display: grid; 
    grid-template-columns: repeat(12,80px); 
    grid-gap: 236px; 
} 

